<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :song_artist_name %>
  <%= f.text_field :song_artist_name %>
  <%= f.label :song_genre_ids %>
  <%= f.collection_select :song_genre_ids, Genre.all, :id, :name %>
  <input name="song[note_ids][]">
  <input name="song[note_ids][]">
  <br />

  <%= f.submit %>
<% end %>
